{% extends "trabajo/base.html" %}
{% load static %}

{% block main %}

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      
        
          <div class="carousel-item active">
              <img src="{% static 'trabajo/assets/puente-corrientes-resistencia.jpeg' %}">
            <div class="container">
              <div class="carousel-caption text-start">
                <h1>Tercera-Preeentrega</h1>
                <p>Esta medio Basico pero este es el index</p>
                
              </div>
            </div>
          </div>
        
      
        
      
        
      
      
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">

    
      
    
    
      
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    
    <hr class="featurette-divider">

   

    
    <hr class="featurette-divider">

    

      </div>
    </div>

    


    <!-- /END THE FEATURETTES -->INDEX.

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="https://getbootstrap.com/docs/5.0/examples/carousel/#">Back to top</a></p>
    <p>© 2017–2021 Company, Inc. · <a href="https://getbootstrap.com/docs/5.0/examples/carousel/#">Privacy</a> · <a href="https://getbootstrap.com/docs/5.0/examples/carousel/#">Terms</a></p>
  </footer>
</main>
{% endblock %}