{% extends "trabajo/base.html" %}

{% block subtitulo %}Lista de profesores{% endblock subtitulo %}

{% block main %}
<h1>Lista de Profesores</h1>
<a href="{% url 'crear_profesor' %}">Añadir</a>
<br>

<form action="{% url 'buscar_profesores' %}" method="post">
  {% csrf_token %}
  <input type="text" name="busqueda">
  <input type="submit" value="Buscar">
</form>
<br>

<table class="table">
  <tbody>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <td>Ver</td>
      <td>Editar</td>
      <td>Eliminar</td>
    </tr>
    {% for profesor in profesores %}
    <tr>
      <td>{{ profesor.nombre }}</td>
      <td>{{ profesor.apellido }}</td>
     
      <td>
        <a href="{% url 'ver_profesor' profesor.id %}">Ver</a>
      </td>
      <td>
        <a href="{% url 'editar_profesor' profesor.id %}">Editar</a>
      </td>
      <td>
        <form action="{% url 'eliminar_profesor' profesor.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="eliminar"/>
        </form
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% block main %}






